#display {
  width: 100%;

  padding: 4rem 3.2rem 3.6rem 3.2rem;

  margin-bottom: 2.4rem;
  border-radius: 1rem;
  border: none;

  font-size: 3.5rem;
  font-weight: 600;
  color: var(--display-text);
  text-align: right;
  background-color: var(--display-bg-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
